/* ================== BACKGROUND PICTURE ================ */
body{
    background-image: url(./pictures.img/Creative\ Portfolio\ \(1\).png);
}

/* ================= HEADER SECTION ===================== */
#title {
    /* background-color: rgb(255, 191, 235); */
    border-radius: 50px;
    width: px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    color: white;
}
#heading{
    text-align: end;
    align-items: end;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 1000;
    /* font-style: italic; */
    /* font-size: ; */
}
#p{
    text-align: end;
}
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#Books{
    width: 900px
}

/* ====================== MOVING STRIP ===================== */
.moving-strip {
    display: flex;
    flex-wrap: wrap;
    /* width: 1900px; */
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    background: green;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.moving-strip p {
    display: inline-block;
    white-space: nowrap;
    animation: moveText 10s linear infinite;
}
@keyframes moveText {
    from {transform: translateX(100%);}
    to {transform: translateX(-100%);}
}

/* ================ SECTION 2: SIGNING UP FOR THE BOOK CLUB ================= */
.BookClubSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
    /* height: 700px; */
}
#bookgirl{
    width: 700px;
    

}
.Join{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#con2title{
    font-size: 7em;
    font-family: 'Times New Roman', Times, serif;
}
#joinForm{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    /* width: 600px; */
}
/*====================== FORM POP UP ================================== */
input[type="text"], input[type="email"], input[type="phone"], input[type="location"], input[type="birthday"], select[name="meetingTime"], select[name="favGenere"], select[name="location"] {
    padding: 5px;
    margin: 6px 0;
    border: 2px solid pink;
    border-radius: 6px;
    width: 46.5%;
    box-sizing: border-box;
    font-size: 17px;
    
}
input[id="reasoning"], input[id="recommendations"] {
    padding:5px;
    box-sizing: border-box;
}
#questions {
   /* display: flex;
   flex-direction: column; */
   width: 100%;
   justify-content: center;
   align-items: center;
}
textarea[type="text"] {
    height: fit-content;
    width: 100%;
    border: 2px solid pink;
    border-radius: 6px;
}

/* ====================== SECTION 3: SHOPPING SECTION ================== */
#notepads{
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    text-align: center;
    color: white;

}
h3{
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    text-align: center;
    color: white;
}
.Stationary{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
}
.Shop {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 60%;

}
#card{
    width: 150px; 
    height: 400px;
}

